@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  word-wrap: break-word;
}

.mapboxgl-map {
  height: 100vh !important;
}
@media screen and (max-width: 639px) {
  .mapboxgl-map {
    height: 50vh !important;
  }
}
