@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  word-wrap: break-word;
}

a {
  color: #142228;
  font-style: italic;
}

a:hover {
  color: #d00;
}
